-- RideHailing_South — unified schema
-- Run against master to (re)create the database, then create all tables.

USE [master]
GO

IF DB_ID('RideHailing_South') IS NOT NULL
BEGIN
    ALTER DATABASE [RideHailing_South] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [RideHailing_South];
END
GO

CREATE DATABASE [RideHailing_South]
GO

USE [RideHailing_South]
GO

-- ─── Users ────────────────────────────────────────────────────────────────────
CREATE TABLE [dbo].[Users] (
    [UserID]            INT            IDENTITY(1,1) NOT NULL,
    [UserName]          VARCHAR(100)   NOT NULL,
    [FullName]          NVARCHAR(100)  NOT NULL,
    [Phone]             VARCHAR(20)    NOT NULL,
    [PassWord]          VARCHAR(255)   NULL,
    [RegisteredRegion]  VARCHAR(50)    NOT NULL,
    [IsLocked]          BIT            NOT NULL CONSTRAINT DF_Users_IsLocked DEFAULT (0),
    [Email]             NVARCHAR(255)  NULL,
    [IsEmailVerified]   BIT            NOT NULL CONSTRAINT DF_Users_IsEmailVerified DEFAULT (0),
    CONSTRAINT PK_Users PRIMARY KEY CLUSTERED ([UserID] ASC),
    CONSTRAINT UQ_Users_Phone UNIQUE ([Phone])
)
GO

-- ─── Drivers ──────────────────────────────────────────────────────────────────
CREATE TABLE [dbo].[Drivers] (
    [DriverID]       INT           IDENTITY(1,1) NOT NULL,
    [FullName]       NVARCHAR(100) NOT NULL,
    [Phone]          VARCHAR(20)   NOT NULL,
    [PasswordHash]   VARCHAR(255)  NOT NULL,
    [LicenseNumber]  VARCHAR(50)   NOT NULL,
    [IsActive]       BIT           NULL CONSTRAINT DF_Drivers_IsActive    DEFAULT (1),
    [IsOnline]       BIT           NULL CONSTRAINT DF_Drivers_IsOnline    DEFAULT (0),
    [CurrentLat]     FLOAT         NULL,
    [CurrentLng]     FLOAT         NULL,
    [AverageRating]  FLOAT         NULL CONSTRAINT DF_Drivers_Rating      DEFAULT (5.0),
    [IsLocked]       BIT           NOT NULL CONSTRAINT DF_Drivers_IsLocked DEFAULT (0),
    CONSTRAINT PK_Drivers PRIMARY KEY CLUSTERED ([DriverID] ASC),
    CONSTRAINT UQ_Drivers_Phone UNIQUE ([Phone])
)
GO

-- ─── Locations ────────────────────────────────────────────────────────────────
CREATE TABLE [dbo].[Locations] (
    [LocationID]    INT            IDENTITY(1,1) NOT NULL,
    [LocationName]  NVARCHAR(255)  NOT NULL,
    [Address]       NVARCHAR(500)  NULL,
    [Latitude]      FLOAT          NOT NULL,
    [Longitude]     FLOAT          NOT NULL,
    CONSTRAINT PK_Locations PRIMARY KEY CLUSTERED ([LocationID] ASC)
)
GO

-- ─── Vehicles ─────────────────────────────────────────────────────────────────
CREATE TABLE [dbo].[Vehicles] (
    [VehicleID]     INT            IDENTITY(1,1) NOT NULL,
    [DriverID]      INT            NOT NULL,
    [LicensePlate]  VARCHAR(20)    NOT NULL,
    [VehicleType]   NVARCHAR(50)   NOT NULL,
    [BrandColor]    NVARCHAR(100)  NOT NULL,
    CONSTRAINT PK_Vehicles PRIMARY KEY CLUSTERED ([VehicleID] ASC),
    CONSTRAINT UQ_Vehicles_Plate UNIQUE ([LicensePlate]),
    CONSTRAINT FK_Vehicles_Drivers FOREIGN KEY ([DriverID]) REFERENCES [dbo].[Drivers]([DriverID])
)
GO

-- ─── Trips ────────────────────────────────────────────────────────────────────
CREATE TABLE [dbo].[Trips] (
    [TripID]               INT             IDENTITY(1,1) NOT NULL,
    [UserID]               INT             NOT NULL,
    [DriverID]             INT             NULL,
    [PickupLocation]       NVARCHAR(500)   NULL,
    [DropoffLocation]      NVARCHAR(500)   NULL,
    [PickupLocationID]     INT             NULL,
    [DropoffLocationID]    INT             NULL,
    [Region]               VARCHAR(20)     NOT NULL,
    [VehicleType]          NVARCHAR(50)    NULL,
    [DistanceKm]           FLOAT           NULL,
    [EstimatedDuration]    INT             NULL,
    [Price]                DECIMAL(18,2)   NULL,
    [Status]               VARCHAR(20)     NULL CONSTRAINT DF_Trips_Status    DEFAULT ('Pending'),
    [UpdatedAt]            DATETIME        NULL CONSTRAINT DF_Trips_CreatedAt DEFAULT (GETDATE()),
    [AcceptedAt]           DATETIME        NULL,
    [StartedAt]            DATETIME        NULL,
    [CompletedAt]          DATETIME        NULL,
    [PooledWithTripID]     INT             NULL,
    [MaxPassengers]        INT             NULL,
    [CurrentPassengers]    INT             NULL,
    CONSTRAINT PK_Trips PRIMARY KEY CLUSTERED ([TripID] ASC),
    CONSTRAINT FK_Trips_Users       FOREIGN KEY ([UserID])            REFERENCES [dbo].[Users]([UserID]),
    CONSTRAINT FK_Trips_Drivers     FOREIGN KEY ([DriverID])          REFERENCES [dbo].[Drivers]([DriverID]),
    CONSTRAINT FK_Trips_Pickup      FOREIGN KEY ([PickupLocationID])  REFERENCES [dbo].[Locations]([LocationID]),
    CONSTRAINT FK_Trips_Dropoff     FOREIGN KEY ([DropoffLocationID]) REFERENCES [dbo].[Locations]([LocationID]),
    CONSTRAINT FK_Trips_Pooled      FOREIGN KEY ([PooledWithTripID])  REFERENCES [dbo].[Trips]([TripID])
)
GO

CREATE INDEX IX_Trips_PooledWithTripID ON [dbo].[Trips]([PooledWithTripID])
GO

-- ─── Ratings ──────────────────────────────────────────────────────────────────
CREATE TABLE [dbo].[Ratings] (
    [RatingID]   INT            IDENTITY(1,1) NOT NULL,
    [TripID]     INT            NOT NULL,
    [UserID]     INT            NOT NULL,
    [Score]      TINYINT        NOT NULL,
    [Comment]    NVARCHAR(500)  NULL,
    [UpdatedAt]  DATETIME       NULL CONSTRAINT DF_Ratings_CreatedAt DEFAULT (GETDATE()),
    CONSTRAINT PK_Ratings PRIMARY KEY CLUSTERED ([RatingID] ASC),
    CONSTRAINT UQ_Ratings_TripID UNIQUE ([TripID]),
    CONSTRAINT FK_Ratings_Trips FOREIGN KEY ([TripID]) REFERENCES [dbo].[Trips]([TripID]),
    CONSTRAINT FK_Ratings_Users FOREIGN KEY ([UserID]) REFERENCES [dbo].[Users]([UserID]),
    CONSTRAINT CK_Ratings_Score CHECK ([Score] BETWEEN 1 AND 5)
)
GO

-- ─── ScheduledTrips ───────────────────────────────────────────────────────────
CREATE TABLE [dbo].[ScheduledTrips] (
    [ScheduledTripId]      INT             IDENTITY(1,1) NOT NULL,
    [UserID]               INT             NOT NULL,
    [PickupAddress]        NVARCHAR(500)   NOT NULL,
    [PickupLat]            FLOAT           NULL,
    [PickupLng]            FLOAT           NULL,
    [DropoffAddress]       NVARCHAR(500)   NULL,
    [DropoffLat]           FLOAT           NULL,
    [DropoffLng]           FLOAT           NULL,
    [VehicleType]          NVARCHAR(50)    NOT NULL CONSTRAINT DF_ST_VehicleType DEFAULT (N'Xe máy'),
    [ScheduledPickupTime]  DATETIME2(3)    NOT NULL,
    [Status]               VARCHAR(30)     NOT NULL CONSTRAINT DF_ST_Status    DEFAULT ('Scheduled'),
    [DistanceKm]           FLOAT           NULL,
    [EstimatedFare]        DECIMAL(18,2)   NULL,
    [TripId]               INT             NULL,
    [CreatedAt]            DATETIME2(3)    NOT NULL CONSTRAINT DF_ST_CreatedAt DEFAULT (GETUTCDATE()),
    [UpdatedAt]            DATETIME2(3)    NULL,
    [Region]               VARCHAR(50)     NOT NULL CONSTRAINT DF_ST_Region    DEFAULT ('South'),
    CONSTRAINT PK_ScheduledTrips PRIMARY KEY CLUSTERED ([ScheduledTripId] ASC),
    CONSTRAINT FK_ST_Users  FOREIGN KEY ([UserID]) REFERENCES [dbo].[Users]([UserID]),
    CONSTRAINT FK_ST_Trips  FOREIGN KEY ([TripId]) REFERENCES [dbo].[Trips]([TripID])
)
GO

-- ─── Wallets ──────────────────────────────────────────────────────────────────
CREATE TABLE [dbo].[Wallets] (
    [WalletID]   INT            IDENTITY(1,1) NOT NULL,
    [UserID]     INT            NOT NULL,
    [Balance]    DECIMAL(18,2)  NOT NULL CONSTRAINT DF_Wallets_Balance    DEFAULT (0.0),
    [UpdatedAt]  DATETIME       NULL     CONSTRAINT DF_Wallets_UpdatedAt  DEFAULT (GETDATE()),
    CONSTRAINT PK_Wallets PRIMARY KEY CLUSTERED ([WalletID] ASC),
    CONSTRAINT UQ_Wallets_UserID UNIQUE ([UserID]),
    CONSTRAINT FK_Wallets_Users FOREIGN KEY ([UserID]) REFERENCES [dbo].[Users]([UserID])
)
GO

-- ─── Transactions ─────────────────────────────────────────────────────────────
CREATE TABLE [dbo].[Transactions] (
    [TransactionID]    INT            IDENTITY(1,1) NOT NULL,
    [WalletID]         INT            NOT NULL,
    [TripID]           INT            NULL,
    [Amount]           DECIMAL(18,2)  NOT NULL,
    [TransactionType]  VARCHAR(50)    NOT NULL,
    [PaymentMethod]    VARCHAR(50)    NOT NULL,
    [Status]           VARCHAR(20)    NOT NULL CONSTRAINT DF_Tx_Status    DEFAULT ('Success'),
    [UpdatedAt]        DATETIME       NULL     CONSTRAINT DF_Tx_CreatedAt DEFAULT (GETDATE()),
    CONSTRAINT PK_Transactions PRIMARY KEY CLUSTERED ([TransactionID] ASC),
    CONSTRAINT FK_Tx_Wallets FOREIGN KEY ([WalletID]) REFERENCES [dbo].[Wallets]([WalletID]),
    CONSTRAINT FK_Tx_Trips   FOREIGN KEY ([TripID])   REFERENCES [dbo].[Trips]([TripID])
)
GO

-- ─── Seed: sample locations ───────────────────────────────────────────────────
GO

-- Delete old seed data
DELETE FROM [dbo].[Wallets];
DELETE FROM [dbo].[Vehicles];
DELETE FROM [dbo].[Drivers];
DELETE FROM [dbo].[Locations];
DELETE FROM [dbo].[Users];

SET IDENTITY_INSERT [dbo].[Users] ON;


SET IDENTITY_INSERT [dbo].[Users] OFF;
GO

SET IDENTITY_INSERT [dbo].[Drivers] ON;


SET IDENTITY_INSERT [dbo].[Drivers] OFF;
GO

SET IDENTITY_INSERT [dbo].[Locations] ON;


SET IDENTITY_INSERT [dbo].[Locations] OFF;
GO

SET IDENTITY_INSERT [dbo].[Vehicles] ON;


SET IDENTITY_INSERT [dbo].[Vehicles] OFF;
GO

SET IDENTITY_INSERT [dbo].[Wallets] ON;

INSERT INTO [dbo].[Wallets] ([WalletID], [UserID], [Balance], [UpdatedAt])
VALUES
  (1, 1, 500000, GETDATE()),
  (2, 2, 750000, GETDATE()),
  (3, 3, 250000, GETDATE()),
  (4, 4, 1000000, GETDATE()),
  (5, 5, 300000, GETDATE()),
  (6, 6, 450000, GETDATE()),
  (7, 7, 600000, GETDATE()),
  (8, 8, 350000, GETDATE()),
  (9, 9, 800000, GETDATE()),
  (10, 10, 200000, GETDATE()),
  (11, 11, 550000, GETDATE()),
  (12, 12, 400000, GETDATE()),
  (13, 13, 900000, GETDATE()),
  (14, 14, 150000, GETDATE()),
  (15, 15, 700000, GETDATE());

SET IDENTITY_INSERT [dbo].[Wallets] OFF;
GO
